.box{
  background: rgba(222, 157, 100, .50);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.box ul{
  list-style-type: none;
  margin-left: -40px;
}

.alert{
  top: 20px;
  right: 20px;
}

.messages{
  bottom: 20px;
  right: 20px;
}

.friends{
  top: 20px;
  left: 20px;
}

.controls{
  bottom: 20px;
  left: 20px;
}

body {
  background-image: asset-data-url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
