.box{
  background: rgba(200, 200, 200, .50);
  border-radius: 10px;
  position: absolute;
  width: 300px;
}

.box ul{
  list-style-type: none;
  margin-left: -40px;

}

.box li{
  padding: 7px;
  margin: 5px;
  background: rgba(200, 200, 200, .50);
  border-radius: 3px;

}

.box h3{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  line-height: 21px;
  -webkit-margin-before: 4px;
  -webkit-margin-after: -10px;
}

.alert{
  top: 20px;
  right: 20px;
  padding: 5px;
}

.messages{
  bottom: 20px;
  right: 20px;
}

.friends{
  top: 20px;
  left: 20px;
  width: 150px;
}

.controls{
  bottom: 20px;
  left: 20px;
}

.username{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.username input{
  background: transparent;
  border: none;
  padding: 7px;
  font-size: 20px;
}

body {
  background-image: asset-data-url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Arial"
}

textarea:focus, input:focus{
    outline: 0;
}
