<h3>Controls</h3>
<ul>
  <li>Press ctrl + A to toggle alerts on/off</li>
  <li>Press ctrl + C to toggle controls on/off</li>
  <li>Press ctrl + F to toggle friends on/off</li>
  <li>Press ctrl + M to toggle messages on/off</li>
  <li>Press ctrl + U to change username</li>
</ul>
