<h3>Controls</h3>
<ul>
  <li>Press A to toggle alerts on/off</li>
  <li>Press C to toggle controls on/off</li>
  <li>Press F to toggle friends on/off</li>
  <li>Press M to toggle messages on/off</li>
</ul>
